.content {
  padding-top: 70px;
}
.navbar-default {
  border: none;
}
.bghat {
  background-image: url('girlthinking.jpg');
  background-position:center center;
  background-size: cover;
  height: 500px;
}

h1 {
	color: orange;
	padding: 10px;
	margin: 0;
  font-family: "HanziPen SC", Verdana, Arial, sans-serif;
}
h2 {
	background-color: orange;
	color: white;
	padding: 10px;
	margin: 0;
  font-family: "HanziPen SC", Verdana, sans-serif;
}

h3 {
	color: black;
	margin: 0;
  font-family: "HanziPen SC", Verdana, sans-serif;
  padding: 10px;
}

h4 {
	color: black;
	margin: 0;
  font-family: "Lucida Console", sans-serif;
  padding: 10px;
}
body {
    background-color: #FAF8DA;
}

/*.carousel img {
	max-height: 100px;
}*/
